.LandingPage{
    height: auto;
    width: auto;
    margin: 21.5rem auto;
    justify-content: center;
    text-align: center;
}

.LandingPage h1 {
    font-size: 5rem;
    margin: 0;
}

.LandingPage hr {
    width: 55%;
    margin: 0 auto;
}

.LandingPage h2 {
    margin-top: 1rem;
    font-size: 2em;
}

.home-icon-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.home-icon {
    color: #f5f5dc;
    font-size: 24px;
    transition: color 0.3s ease;
}

.home-icon:hover {
    color: lightgray;
}


@media screen and (max-width: 992px) {
    .LandingPage {
        padding-top: 16rem;
        margin: auto auto;
    }

    .LandingPage h1 {
        font-size: 2.5rem;
    }

    .LandingPage hr {
        width: 80%;
        margin: 0 auto;
    }

    .LandingPage h2 {
        margin-top: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
        font-size: 1.5em;
    }

    .home-icon {
        font-size: 21px;
        transition: color 0.3s ease;
    }
}

