.animated-title {
    color: var(--color-text-primary);
    white-space: nowrap;
  }
  
  .blinking-cursor {
    animation: blink 1s step-start infinite;
    color: var(--color-accent);
    border-radius: 50px;
    margin-left: 2px;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
