.page-content {
  margin: auto;
  max-width: 1000px;
  min-height: 50vh;
  padding-top: 100px;
}

.experience-header {
    text-align: left;
    margin-left: 2rem;

}

.experience-title {
    margin-left: 3rem;
    margin-top: 9rem;
}

.box-container {
    margin-top: 2rem;
    margin-bottom: 12rem;
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.box-container::-webkit-scrollbar {
    display: none;
}

.box {
    overflow: hidden;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    box-shadow: 2px 4px 12px #00000014;
    background-color: #ffffff;
    flex: 0 0 auto;
    width: 350px;
    height: 400px;
    margin-right: 15px;
    padding: 20px;
    white-space: normal;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

.box-date, .box-title, .box-company, .box-text {
    margin-left: 10px;
    margin-bottom: 0;
}

.box-text {
    white-space: normal;
}


@media screen and (max-width: 992px) {
    .experience-header {
        margin-bottom: 0;
        margin-top: 6rem;
    }

    .experience-title{
        margin-left: 2rem;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    .box-container {
        display: flex;
        margin-top: 0;
        margin-bottom: 3.5rem;
    }

    .box-date, .box-title, .box-company, .box-text {
        margin-left: 5px;
    }

    .box {
        margin-left: 2rem;
        width: 300px;
        height: 380px;
        margin-right: 5px;
    }

    .box-date {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .box-company {
        margin-top: 0.5rem;
    }
}
