.experience-wrapper {
    display: flex;
    color: #ccd6f6;
    margin-top: 2rem;
  }

  .experience-sidebar {
    min-width: 220px;
    display: flex;
    flex-direction: column;
  }
  
  .experience-tab {
    padding: 0.7rem 1rem;
    background: none;
    border: none;
    color: #8892b0;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .experience-tab:hover {
    color: #64ffda;
  }
  
  .experience-tab.active {
    color: #64ffda;
    border-right: #64ffda 2px solid;
  }
  
  .experience-details {
    flex-grow: 1;
    padding-left: 2.5rem;
  }
  
  .box-date {
    font-size: 14px;
    color: #8892b0;
    margin: 0.2rem;
  }
  
  .box-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
  }
  
  .box-company {
    font-size: 16px;
    margin-bottom: 1rem;
    color: #64ffda;
  }
  
  .box-text {
    color: #8892b0;;
    font-size: 16px;
    padding-left: 1.5rem;
  }

  .box-text::before {
    color: #64ffda;
    content: "▹ ";
    left: 0;
    position: absolute;
}
  