.page-content {
    margin: auto;
    max-width: 1000px;
    min-height: 50vh;
    padding: 100px 0 0 0;
}

.project-header {
    position: relative;
}

.project-header::after {
    content: '';
    position: absolute;
    bottom: 65%;
    left: 25%;
    transform: translateY(-50%);
    width: 300px;
    height: 0.8px;
    background-color: #8892b0;
}

.project-header {
    text-align: left;
    margin: 0;
    padding-bottom: 42px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}

.project-card {
    background-color: #112240;
    border-radius: 16px;
    cursor: default;
    flex-direction: column;
    padding: 2rem 1.75rem;
    min-height: 300px;
    position: relative;
}

.project-card:hover {
    background-color: #223351;
    transform: translateY(-7px);
}

.project-header-container {
    border-bottom: none !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 1.25em 0 !important;
}

.project-name {
    margin-bottom: 0.75rem;
    font-size: 23px;
    font-weight: 700;
    margin-top: 0;
}

.project-description {
    font-size: 18px;
    color: #8892b0;
    margin: 0;
    padding: 0 0 40px 0;
}

.project-techstack {
    font-size: 16px;
    color: #8892b0;
    margin: 0;
    padding-bottom: 0;
}

.project-links, .folder-icon {
    font-size: 22px;
}

.folder-icon {
    color: #64ffda;
}

.project-links a {
    color: #ccd6f6;
}
.project-links {
    gap: 0.8rem;
    display: flex;
}

/* Responsive tweaks if you want */
@media screen and (max-width: 768px) {

}
