.page-content {
  margin: auto;
  max-width: 1000px;
  min-height: 50vh;
  padding-top: 100px;
}

.project-header {
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 8rem;
}

.project-title {
    margin-top: 11rem;
    text-align: center;
    margin-bottom: 3rem;
}

.project-grid {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.project-card {
    background-color: #ffffff;
    border-radius: 16px;
    cursor: default;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.75rem;
    position: relative;
}

.project-header-container {
    border-bottom: none !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25em 0 !important;
}



@media screen and (max-width: 992px) {
    .project-header {
        margin-bottom: 0;
    }

    .project-title {
        margin-top: 3rem;
        margin-bottom: 1.3rem;
    }

    .project-links {
        border-radius: 30px;
        width: 100%;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: flex-end; /* Align to the right */
        gap: 10px;
        margin-top: auto;
    }
}
