  
  .degree-header {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  
  .degree-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .degree-box {
    text-align: center;
    flex: 1 1 300px;
    margin-bottom: 7rem;
  }
  
  .degree-image-omnia {
    width: 30%;
    height: auto;
  }
  
  .degree-image-metropolia {
    width: 33%;
    height: auto;
  }
  
  .degree-title-metropolia {
    margin-top: 0.68rem;
    margin-bottom: 0.3rem;

  }

  .degree-title-omnia {
    margin-bottom: 0.3rem;
  }
  .degree-text {
    margin: 0;
    padding-bottom: 10px;
  }
